* {
  -webkit-user-select: none;
}
.header {
  height: 2rem;
}
.header .firstHeader {
  height: .9rem;
  background-color: #1b82d2;
  color: #FFFFFF;
  font-size: .38rem;
  line-height: .9rem;
}
.header .firstHeader div {
  float: left;
}
.header .firstHeader .back {
  width: .8rem;
  text-align: center;
  font-family: iconfont;
}
.header .firstHeader .title {
  width: 5.8rem;
  text-align: center;
}
.header .secondHeader {
  display: flex;
  height: 1.11rem;
  align-items: center;
}
.header .secondHeader .form {
  width: 6.9rem;
  height: .6rem;
  margin: 0 auto;
}
.header .secondHeader .form label input {
  width: 5.79rem;
  height: .6rem;
  background-color: #FFFFFF;
  border-radius: .15rem;
  font-family: iconfont;
  text-indent: .5em;
  font-size: .28rem;
}
.header .secondHeader .form button {
  width: 1rem;
  height: .6rem;
  background-color: #1583ff;
  font-size: .28rem;
  color: #FFFFFF;
  float: right;
  border-radius: .14rem;
}
.header .secondHeader .form button:active {
  background-color: #1065c4;
}
.count {
  bottom: 0;
  top: 2rem;
}
.count .atPresent {
  line-height: .7rem;
  color: #1583ff;
  font-size: .3rem;
  text-indent: .3rem;
}
.count .positioncity {
  height: 1rem;
  background-color: #FFFFFF;
  text-indent: .3rem;
  color: #1583ff;
  font-size: .3rem;
  line-height: 1rem;
}
.count .hot {
  height: .7rem;
  text-indent: .3rem;
  color: black;
  font-size: .3rem;
  line-height: .7rem;
}
.count .hotlist {
  height: 1rem;
  background-color: #FFFFFF;
  text-indent: .3rem;
  font-size: .3rem;
  line-height: 1rem;
}
.count .hotlist span {
  width: 1.15rem;
  height: .6rem;
  display: inline-block;
  text-align: center;
  line-height: .6rem;
  border: .03rem solid #aaaaaa;
  text-indent: 0;
  border-radius: .14rem;
  margin-right: .3rem;
}
.count .list {
  background-color: #FFFFFF;
}
.count .list li {
  height: .6rem;
  line-height: .63rem;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .3rem;
  color: #222222;
  margin: 0 .3rem;
  border-bottom: .03rem solid #eeeeee;
}
.count .list .group {
  background-color: #f5f5f5;
  margin: 0;
  text-indent: .3rem;
}
.zhezhao {
  display: none;
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.zhezhao .neirong {
  background-color: #FFFFFF;
  text-indent: .3rem;
  font-size: .3rem;
  line-height: 1rem;
}
.zhezhao .neirong span {
  width: 1.15rem;
  height: .6rem;
  display: inline-block;
  text-align: center;
  line-height: .6rem;
  border: .03rem solid #aaaaaa;
  text-indent: 0;
  border-radius: .14rem;
  margin-right: .3rem;
}
.zhezhao.active {
  display: block;
}
.aside {
  position: absolute;
  top: 3rem;
  right: 0;
  height: 70%;
  width: .4rem;
  text-align: center;
}
.aside ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.aside ul li {
  flex: 1;
  color: #1583ff;
}
.echo {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 120px/200px "微软雅黑";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
